body {
  margin: 0;
  font-family: Arial, Helvetica, Open Sans;
}
.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #808080;
  font-size: 19px;
}
.sticky-header .header-content {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
}
@media only screen and (max-width: 1280px) {
  .sticky-header .header-content {
    margin: 0 10px;
  }
}
.sticky-header a {
  text-decoration: none;
  color: #171717;
  display: inline-block;
}
.sticky-header a:hover {
  color: #4286f4;
}
.sticky-header .contact,
.sticky-header .nav {
  top: 19px;
  position: absolute;
}
.sticky-header .nav {
  right: 0;
}
.sticky-header .nav a {
  margin-left: 10px;
}
.social-icon img {
  height: 26px;
  margin-bottom: -6px;
}
.hero-image {
  text-align: center;
  background-image: url("/img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  height: 70vh;
  box-sizing: border-box;
  padding-top: 25vh;
  margin-top: 60px;
}
.hero-image .title,
.hero-image .subtitle {
  color: #fff;
}
.content {
  color: #171717;
  margin: 40px auto;
  max-width: 1280px;
}
@media only screen and (max-width: 1280px) {
  .content {
    margin: 40px 40px;
  }
}
@media only screen and (max-width: 700px) {
  .content {
    margin: 40px 20px;
  }
}
@media only screen and (max-width: 500px) {
  .content {
    margin: 40px 10px;
  }
}
.footer {
  text-align: center;
  background-color: #999;
}
