a {
  text-decoration: none;
  color: #171717;
}
a:hover {
  color: #4286f4;
  text-decoration: none;
}
.sticky-header {
  min-height: 60px;
  background: #fff;
  border-bottom: 1px solid #808080;
}
.sticky-header br {
  display: none;
}
.sticky-header .navbar-item {
  text-align: right;
}
@media only screen and (min-width: 992px) {
  .sticky-header .navbar-nav {
    position: absolute;
    right: 16px;
  }
  .sticky-header .navbar-nav a {
    margin-left: 10px;
  }
}
.sticky-header .navbar-toggler {
  border: none;
}
@media only screen and (max-width: 600px) {
  .sticky-header {
    padding-left: 5px;
    padding-right: 5px;
  }
  .sticky-header .navbar-toggler {
    padding: 0;
  }
  .sticky-header .navbar-brand {
    font-size: 12px;
    margin-right: 0px;
  }
  .sticky-header .navbar-brand span {
    display: none;
  }
  .sticky-header .navbar-brand br {
    display: initial;
  }
}
.hero-image {
  background-image: url("/img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  height: 70vh;
  max-height: 700px;
  margin-top: 60px;
  position: relative;
}
.hero-image .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #031430;
  opacity: 0.1;
}
.hero-image .hero-image__content {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 22%;
}
.hero-image .title,
.hero-image .subtitle {
  color: #fff;
}
.hero-image .title {
  font-size: 70px;
}
@media only screen and (max-width: 600px) {
  .hero-image .title {
    font-size: 28px;
  }
}
.hero-image .subtitle {
  font-size: 28px;
}
@media only screen and (max-width: 600px) {
  .hero-image .subtitle {
    font-size: 16px;
  }
}
.content {
  color: #171717;
  margin: 40px auto;
  max-width: 1280px;
  margin-bottom: 100px;
}
@media only screen and (max-width: 1280px) {
  .content {
    margin: 40px 40px;
  }
}
@media only screen and (max-width: 700px) {
  .content {
    margin: 40px 20px;
  }
}
@media only screen and (max-width: 500px) {
  .content {
    margin: 40px 10px;
  }
}
.content .row {
  margin-bottom: 20px;
}
.content .row img.fullwidth,
.content .row iframe {
  width: 100%;
}
.video-thumbnail {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.video-thumbnail img {
  position: absolute;
  width: 70px;
  height: auto;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -35px;
}
.video-thumbnail.video-1 {
  background-image: url("/img/flyingScreenshot.jpg");
}
.video-thumbnail.video-2 {
  background-image: url("/img/bratScreenshot.png");
}
.video-thumbnail.video-3 {
  background-image: url("/img/trainingScreenshot.jpg");
}
.footer {
  text-align: center;
  background-color: #031430;
  padding: 40px 0 28px 0;
  color: #fff;
}
.footer a {
  color: #fff;
}
.footer a:hover {
  color: #4286f4;
}
.footer div {
  margin-bottom: 12px;
}
.footer .social-icons img {
  height: 26px;
  margin-right: 8px;
}
.footer .logos img {
  margin-right: 8px;
}
