@media only screen and (max-width: 575px) {
  h3 {
    font-size: 1rem;
    margin-top: 20px;
  }
  p {
    font-size: 0.9rem;
  }
  .row {
    margin-bottom: 40px;
  }
}
body {
  background-color: #f6f6f6;
  color: #666;
}
h3,
h4 {
  margin-bottom: 25px;
  color: #444;
}
h3 {
  font-size: 1.9rem;
}
p {
  line-height: 1.65rem;
}
a {
  text-decoration: none;
  color: #444;
}
a:hover {
  color: #44b6f5;
  text-decoration: none;
}
.sticky-header {
  min-height: 60px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding-left: 25px;
}
.sticky-header br {
  display: none;
}
.sticky-header .navbar-item {
  text-align: right;
  margin-left: 25px;
}
@media only screen and (min-width: 992px) {
  .sticky-header .navbar-nav {
    position: absolute;
    right: 25px;
  }
}
.sticky-header .navbar-toggler {
  border: none;
}
@media only screen and (max-width: 575px) {
  .sticky-header {
    padding-left: 8px;
    padding-right: 8px;
  }
  .sticky-header .navbar-toggler {
    padding: 0;
  }
  .sticky-header .navbar-brand {
    font-size: 14px;
    margin-right: 0px;
  }
  .sticky-header .navbar-brand span {
    display: none;
  }
  .sticky-header .navbar-brand br {
    display: initial;
  }
}
.hero-image {
  background-image: url("/fafiles/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: 18%;
  height: 70vh;
  max-height: 700px;
  margin-top: 60px;
  position: relative;
}
.hero-image .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #031430;
  opacity: 0.1;
}
.hero-image .hero-image__content {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 28%;
  text-shadow: 1px 1px 1px #141414;
}
.hero-image .title,
.hero-image .subtitle {
  color: #fff;
}
.hero-image .title {
  font-size: 70px;
}
@media only screen and (max-width: 600px) {
  .hero-image .title {
    font-size: 28px;
  }
}
.hero-image .subtitle {
  font-size: 28px;
}
@media only screen and (max-width: 600px) {
  .hero-image .subtitle {
    font-size: 16px;
  }
}
.content {
  margin: 80px auto;
  max-width: 1100px;
  margin-bottom: 100px;
}
@media only screen and (max-width: 1260px) {
  .content {
    margin: 80px;
  }
}
@media only screen and (max-width: 700px) {
  .content {
    margin: 40px;
  }
}
@media only screen and (max-width: 500px) {
  .content {
    margin: 40px 20px;
  }
}
.content .row {
  margin-bottom: 100px;
}
.content .row img.fullwidth,
.content .row iframe {
  width: 100%;
}
.content a {
  text-decoration: underline;
  color: #666;
}
.content a:hover {
  color: #44b6f5;
}
.row.certifications {
  margin-top: 20px;
  margin-bottom: 0;
}
.row.certifications .caption {
  font-size: 14px;
}
.row.certifications .col-lg-6 {
  max-width: 240px;
  margin: 0 auto;
}
.sbsa-callout {
  margin: 0 auto;
  display: table;
}
.sbsa-callout img {
  margin-right: 15px;
}
.sbsa-callout p {
  display: table-cell;
  vertical-align: middle;
}
.video-container {
  max-width: 320px;
  margin: auto;
  margin-bottom: 40px;
  padding: 0 20px;
}
.video-thumbnail {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.video-thumbnail img {
  position: absolute;
  width: 70px;
  height: auto;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -35px;
}
.video-thumbnail.video-1 {
  background-image: url("/fafiles/flyingScreenshot.jpg");
}
.video-thumbnail.video-2 {
  background-image: url("/fafiles/bratcry1.jpg");
}
.video-thumbnail.video-3 {
  background-image: url("/fafiles/trainingScreenshot.jpg");
}
.footer {
  text-align: center;
  background-color: #031430;
  padding: 40px 0 28px 0;
  color: #fff;
}
.footer a {
  color: #fff;
}
.footer a:hover {
  color: #44b6f5;
}
.footer div {
  margin-bottom: 12px;
}
.footer .social-icons img {
  height: 26px;
  margin-right: 8px;
}
.footer .logos img {
  margin-right: 8px;
}
