$headerHeight = 60px

$alphaBlue = #4286f4
$darkAlphaBlue = #031430
$black = #171717


a
 text-decoration none
 color $black
 &:hover
   color $alphaBlue
   text-decoration none

.sticky-header
  min-height $headerHeight
  background white
  border-bottom 1px solid grey
  br
    display none
  .navbar-item
    text-align right
  .navbar-nav
    +above(992px)
      position absolute
      right 16px
      a
        margin-left 10px
  .navbar-toggler
    border none
  +below(600px)
    padding-left 5px
    padding-right 5px
    .navbar-toggler
      padding 0
    .navbar-brand
      font-size 12px
      margin-right 0px
      span
        display none
      br
        display initial

.hero-image
  background-image url("/img/hero.jpg")
  background-repeat no-repeat
  background-size cover
  background-position-x center
  background-position-y center
  height 70vh
  max-height 700px
  margin-top $headerHeight
  position relative
  .overlay
    position absolute
    top 0
    bottom 0
    width 100%
    background-color $darkAlphaBlue
    opacity 0.1
  .hero-image__content
    position absolute
    width 100%
    text-align center
    top 22%
  .title,
  .subtitle
    color white
  .title
    font-size 70px
    +below(600px)
      font-size 28px
  .subtitle
    font-size 28px
    +below(600px)
      font-size 16px

.content
  color $black
  margin 40px auto
  max-width 1280px
  margin-bottom 100px
  +below(1280px)
    margin 40px 40px
  +below(700px)
    margin 40px 20px
  +below(500px)
    margin 40px 10px

  .row
    margin-bottom 20px
    img.fullwidth,
    iframe
      width 100%

.video-thumbnail
  width 100%
  padding-top 100%
  border-radius 50%
  position relative
  background-position center
  background-size cover
  background-repeat no-repeat
  img
    position absolute
    width 70px
    height auto
    top 50%
    left 50%
    margin-top -25px
    margin-left -35px
  &.video-1
    background-image url("/img/flyingScreenshot.jpg")
  &.video-2
    background-image url("/img/bratScreenshot.png")
  &.video-3
    background-image url("/img/trainingScreenshot.jpg")



.footer
  text-align center
  background-color $darkAlphaBlue
  padding 40px 0 28px 0
  color white
  a
    color white
    &:hover
      color $alphaBlue
  div
    margin-bottom 12px
  .social-icons img
    height 26px
    margin-right 8px
  .logos img
    margin-right 8px
