body
  margin 0
  text-align center
  font-family Arial, Helvetica, Open Sans

$headerHeight = 60px

.sticky-header
  position fixed
  top 0
  width 100%
  height $headerHeight
  background white
  border-bottom 1px solid grey
  .nav
    position absolute
    right 0
    li
      display inline-block
      a
        text-decoration none

.hero-image
  background-image url("https://dl.dropboxusercontent.com/content_link/yYQzkNshVWQHupFYxpqFc83WCNzE0zM1oI9MMSFqUHxPTFSF3AteoQdta0FANZVi/file")
  background-repeat no-repeat
  background-size cover
  background-position-x center
  background-position-y center
  height 70vh
  box-sizing border-box
  padding-top 30%
  margin-top $headerHeight
  .title,
  .subtitle
    color white

.content
  margin-right auto
  margin-left auto
  max-width 1280px
  +below(1280px)
    margin 0 40px
  +below(700px)
    margin 0 20px
  +below(500px)
    margin 0 10px

h1
    text-align center
    color blue
    font-size 50px
    font-weight normal
    line-height .9em
    margin-top -6px
    margin-bottom -8px

h2
    color black
    font-size larger
    font-weight bold

h3
    font-size 20px
    color black
    margin-top 10px
    font-weight normal

.weather-bar
    font-weight bold
    background-color #1EFFFF
    padding 4px
    border medium
    text-align left
    text-decoration none

.menu-bar-weather
    padding-right 10px

p
    color black
    text-align left
    margin-left 5px

.side1
    text-align left
    width 300px
    float left
    padding-right 15px

.side2
    width 310px
    text-align center
    float left

.info_l
    text-align center
    width 310px
    float left
    padding-right 15px
    font-size large
    font-weight bold

.info_r
    width 310px
    text-align center
    font-size large
    float left
    font-weight bold

#lvideo
    margin-top 5px
    width 145px
    text-align right
    float left

#rvideo
    margin-top 5px
    width 145px
    text-align right
    float right

#left-video
    margin 5px
    width 330px
    float left
    text-align right

.lfloat
    margin 5px
    width 180px
    float left
    text-align right


