body
  margin 0
  font-family Arial, Helvetica, Open Sans

$headerHeight = 60px

$alphaBlue = #4286f4
$black = #171717
$grey = #999999

.sticky-header
  position fixed
  top 0
  width 100%
  height $headerHeight
  background white
  border-bottom 1px solid grey
  font-size 19px
  .header-content
    position relative
    margin 0 auto
    max-width 1280px
    +below(1280px)
      margin 0 10px
  a
    text-decoration none
    color $black
    display inline-block
    &:hover
      color $alphaBlue
  .contact,
  .nav
    top 19px
    position absolute
  .nav
    right 0
    a
      margin-left 10px

.social-icon
  img
    height 26px
    margin-bottom -6px

.hero-image
  text-align center
  background-image url("/img/hero.jpg")
  background-repeat no-repeat
  background-size cover
  background-position-x center
  background-position-y center
  height 70vh
  box-sizing border-box
  padding-top 25vh
  margin-top $headerHeight
  .title,
  .subtitle
    color white

.content
  color $black
  margin 40px auto
  max-width 1280px
  +below(1280px)
    margin 40px 40px
  +below(700px)
    margin 40px 20px
  +below(500px)
    margin 40px 10px

.footer
  text-align center
  background-color $grey
